* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p { 
  font-size: 10rem;
  position: absolute;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px 350px;
}


div:nth-child(1){
  background-color: steelblue;
  transition: transform 1s 0.5s linear;
}

div:nth-child(2){
  background-color: dimgray;
  transition: transform 1s 0.5s linear;
}

div:nth-child(3){
  background-color: yellow;
  transition: transform 1s 0.5s linear;
}

div:nth-child(4){
  background-color: rosybrown;
  transition: transform 1s 0.5s linear;
}

main:hover .box1 { 
  transform: translateX(-100%) rotateZ(90deg);
}

main:hover .box2 { 
  transform: translateX(100%) rotateZ(-90deg);
}

main:hover .box3 { 
  transform: translateX(-100%) rotateZ(-90deg);
}

main:hover .box4 { 
  transform: translateX(100%) rotateZ(90deg);
}
